#map{
    height: calc(80vh - 45px);
    width: 100%;
}

.toolbar {
    place-items: center;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
}

.button {
    margin: 8px;
}
.example-button-row {
    display: table-cell;
}
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
