#map{
    height: calc(80vh - 45px);
    width: 100%;
}

.toolbar {
    place-items: center;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
}

.button {
    margin: 8px;
}
.button-row {
    display: table-cell;
}
.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}


/*POPUP--------------------------------------------------*/
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "chiudi";
}
.ol-popup-extender {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 60px;
}
.ol-popup-extender:after {
    content: "espandi";
}

