<div class="main-content">
    <div class="container-fluid">
        <!--      Prime due info ---------------------------------------------------------- -->
        <div class="row">
            <!--<div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Used Space</p>
                        <h3 class="card-title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">priority_high</i>
                        </div>
                        <p class="card-category">Massime segnalazioni giornaliere</p>
                        <h3 class="card-title">TODO</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">event</i> Risalente a...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Segnalazioni totali</p>
                        <h3 class="card-title">{{this.getTotalReports()}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> {{variazione.ultimoAggiornamento}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        PANNELLO ESTENDIBILE      -->
        <div class="row" style="margin-bottom: 20px; margin-top: 10px;">
            <div class="col-md-12">
                <mat-card-header>
                    <mat-card-title>
                        <button mat-button (click)="accordion.openAll()" style="font-size: 18px;"><b>Espandi tutto</b>
                        </button>
                    </mat-card-title>

                </mat-card-header>
                <mat-card-content>
                    <mat-accordion class="headers-align" multi>
                        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Ultima settimana
                                </mat-panel-title>
                                <mat-panel-description>
                                    Grafico rappresentativo delle segnalazioni più recenti
                                    <mat-icon>new_releases</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <!--                                  RIGA DEL PRIMO GRAFICO ESTENDIBILE      -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-chart">
                                        <div class="card-header card-header-success">
                                            <div class="ct-chart" id="segnalazioniSettimana"></div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Segnalazioni durante la settimana</h4>
                                            <p *ngIf="variazione.incremento" class="card-category">
                                <span class="text-success"><i
                                        class="fa fa-long-arrow-up"></i> {{variazione.valore}} </span>
                                                incremento in segnalazioni giornaliere.</p>
                                            <p *ngIf="!variazione.incremento" class="card-danger">
                                <span class="text-danger"><i
                                        class="fa fa-long-arrow-down"></i> {{variazione.valore}} </span>
                                                decremento in segnalazioni giornaliere.</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i> {{variazione.ultimoAggiornamento}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-card-actions>
                                <button mat-button (click)="accordion.closeAll()" style="font-size: 18px;"><b>Contrai
                                    tutto</b></button>
                            </mat-card-actions>

                            <!--              FINE RIGA DEL PRIMO GRAFICO ESTENDIBILE -->

                        </mat-expansion-panel>

                        <!--                          RIGA DEL SECONDO GRAFICO ESTENDIBILE      -->

                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Informazione utenti
                                </mat-panel-title>
                                <mat-panel-description>
                                    Grafico rappresentativo delle segnalazioni anonime
                                    <mat-icon>face</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-chart">
                                        <div class="card-header card-header-success">
                                            <div class="ct-chart" id="usersInfo"></div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Segnalazioni in base ai tipi di utenti</h4>
                                            <p class="card-category">
                                                <span style="color: orangered;">R</span>
                                                <span>: Utenti anonimi</span>
                                                <br>
                                                <span style="color: black;">W: </span>
                                                <span>Utenti registrati</span>

                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">access_time</i> {{variazione.ultimoAggiornamento}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <mat-card-actions>
                                <button mat-button (click)="accordion.closeAll()" style="font-size: 18px;"><b>Contrai
                                    tutto</b></button>
                            </mat-card-actions>
                        </mat-expansion-panel>


                        <!--                          RIGA DEL TERZO GRAFICO ESTENDIBILE      -->


                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Media giorni settimana
                                </mat-panel-title>
                                <mat-panel-description>
                                    Grafico rappresentativo dei giorni settimanali più attivi
                                    <mat-icon>view_week</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-chart">
                                        <div class="card-header card-header-success">
                                            <div class="ct-chart" id="mediaGiorniSettimanali"></div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Media n. segnalazioni per settimana</h4>
                                            <p class="card-category">Last Campaign Performance</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="stats">
                                                <i class="material-icons">view_week</i> campaign sent 2 days ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-card-actions>
                                <button mat-button (click)="accordion.closeAll()" style="font-size: 18px;"><b>Contrai
                                    tutto</b></button>
                            </mat-card-actions>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </div>
        </div>
    </div>
</div>

